@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --light: #ffff;
    --main-color: #fe6c4c;
    --second-color: #19202c;
    --dark-grey: #AAAAAA;
}

/* ----- common style */
ul li {
    list-style-type: none;
}

a {
    text-decoration: none;

}

.selected {
    color: var(--main-color);
}


/* ======================= NAV ==================== */

nav {
    position: sticky;
    /* top:0; */
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: .2% 3%;
    /* background-color: rgba(225, 145, 77, .1); */
    backdrop-filter: blur(3px);
    z-index: 1000;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);


}

nav a {
    font-family: "Livvic", sans-serif;

    /* font-family: 'Roboto Slab',sans-serif; */
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    transition: all .3s ease-in-out;
}

nav a:hover {
    color: var(--main-color);
}



nav i {
    color: black;
}

nav .logo {
    width: 20%;
    /* background-color: green; */
}

.logo img {
    height: 60%;
    width: 85%;
    /* background-color: red; */
    margin-top: 5.5%;

}

nav .mid {
    display: flex;
    gap: 4em;
    align-items: center;
    width: 50%;
    justify-content: center;
    /* background-color: green; */
}

.mid img {
    height: 20px;
    width: 35px;
    margin-right: 15%;
}

.lang {
    display: flex;
    align-items: center;
}

nav .end {
    display: flex;
    align-items: center;
    padding-left: 3%;
    gap: 3em;
    width: 40%;
    /* background-color: blue; */
}

.end .sign {
    padding: 10px 10px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    background-color: var(--main-color);
    color: white;
}

.end .sign:hover {
    color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);
    transform: translate(1.2px);
}

/* --------stick------------- */
nav.stick {
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgba(239, 92, 0, 0.614);
}

nav.stick i {
    color: black;
}

nav.stick .text {
    color: rgb(30, 29, 29);
}

nav.stick .text:hover {
    color: var(--main-color);
}


nav.stick .end .sign {
    padding: 10px 10px;

    border-radius: 20px;
    background-color: var(--main-color);
    color: white;
    transform: translate(1.2px);
}

nav.stick .end .sign:hover {
    color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);

}

/* =========CATEGORIES============ */

.categories {
    position: sticky;
    /* top: 9%; */
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    z-index: 1000;
    margin-bottom: 5%;
}


.categories p {
    font-family: "Livvic", sans-serif;
    font-size: 1em;

    color: var(--second-color);
    transition: all .3s ease-in-out;
}



.categories p:hover {
    cursor: pointer;
    color: var(--main-color);
}

/* =================== MAIN PART =========== */
.main_part {
    position: relative;
    display: flex;
    width: 100%;
    font-family: "Livvic";
    
}

.main_part .left {
    width: 70%;
    padding: 5%;
    padding-top: 2%;
    padding-right: 0;
}

.main_part .left .up {
    width: 90%;
    margin-bottom: 6%;

    border-radius: 10px;
    background-image: url(assets2/images/google_back3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_part .left .up .mirror {
    padding: 6% 6%;
    backdrop-filter: blur(1.5px);
    background-color: rgba(225, 2225, 255, .3);
}

.main_part .left .up .mirror p {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--second-color);
}

.main_part .left .up .mirror span {
    color: #19584d;
    font-weight: bold;
}

.main_part .left .down .infos {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.main_part .left .down .infos .item {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 8%;
}

.main_part .left .down .infos .item i {
    font-size: 2.5em;
    color: #fe6c4c;
}

.main_part .left .down .infos .item .left_side {
    display: flex;
    flex-direction: column;
}

.main_part .left .down .infos .item .left_side span:nth-child(1) {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--second-color);
}

.main_part .left .down .infos .item .left_side span:nth-child(2) {

    /* font-weight: bold; */
    color: #fb9781;
}


.main_part .left .down .text .part {
    padding-bottom: 2%;
    margin-bottom: 6%;
    width: 80%;
}

.main_part .left .down .text .part h3 {
    font-size: 1.5em;
    margin-bottom: 3%;
}

.main_part .left .down .text .part.one p {
    margin-bottom: 2.5%;
}

.main_part .left .down .text .part.two .attachement_files {
    display: flex;
    gap: 10em;

}

.main_part .left .down .text .part.two .files {
    width: 40%;
    background-color: #fdd5cc;
    padding: 2% 2%;
    border-radius: 6px;
    position: relative;
}

.main_part .left .down .text .part.two .files p {
    font-size: 1.2em;
    margin-bottom: 7%;
    font-weight: bold;
}

.main_part .left .down .text .part.two .files i {
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 1.5em;
    transition: all .3s ease-in-out;
}

.main_part .left .down .text .part.two .files i:hover {
    cursor: pointer;
    background-color: #fccabf;
    color: #f7917b;
    border-radius: 50%;
    padding: 2% 2%;
    font-size: 1.5em;
}


.main_part .left .down .text .part.three .skills_item {
    display: flex;
    gap: 5em;

}

.main_part .left .down .text .part.three .skills_item p {
    background-color: #fdd5cc;
    border-radius: 20px;
    padding: 1.5% 2.5%;
}


.main_part .right {
    position:sticky;
    top: 0;
    width: 30%;
    height: fit-content;
    padding: 2% 1.5%;
    margin-top: 2%;
    margin-right: 2%;
    border: 1px solid rgb(184, 184, 184);
    box-shadow: 5px 5px 30px 2px #0000001e;
    border-radius: 6px;
}


.main_part .right h4 {
    font-size: 1.8em;
    margin-bottom: 5%;
}

.main_part .right .head {
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 1.5em;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 3%;
    margin-bottom: 4%;
}

.main_part .right .head img {
    height: 18%;
    width: 18%;
    
}

.main_part .right .head .description .name{
   font-size: 1.4em;
   margin-bottom: 4%;
}

.main_part .right .head .description .specialisation{
    color: rgb(180, 178, 178);
}
 

.main_part .right .stats{
    display: flex;
    gap: 5em;
    margin-bottom: 5%;
}

.main_part .right .stats .stat p{
    font-size: 1.1em;
    margin-bottom: 5%;
}
.main_part .right .stats .stat span{
    color: rgb(162, 159, 159);
}
 
.main_part button{
    width: 100%;
    padding-top:5%;
    padding-bottom:5%;
    background-color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    font-size: 1.2em;
    color: var(--main-color);
    transition: all .3s ease-in-out;

}
 
.main_part button:hover{
    color: #fff;
    background-color: var(--main-color);
}
 






/* ================ FOOTER ============== */
.footer {
    background: linear-gradient(90deg, #19584d, #308678);
    background: linear-gradient(90deg, #000, #2e2e2e);
    /* background: linear-gradient(120deg, #fe6c4c,#fb9781); */
    font-family: "Livvic";
    /* background-color: #6510FC; */
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.row {
    width: 50%;
    padding: 1% 0;
}

/* first colonne */
.row:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 6em;
}

.row .upper {
    display: flex;
    gap: 2em;
}

.row .upper .left img {
    height: 50%;
    width: 80%;
    margin-bottom: 5%;
}

.row .upper .socials {
    width: 80%;
    padding-left: 3%;
    margin-bottom: 5%;
}

.row .upper .socials i {
    font-size: 2em;
    margin-right: 7%;
    background-color: var(--main-color);
    border-radius: 6px;
    padding: 1%;
    transition: all .3s ease-in-out;
}

.row .upper .socials i:hover {
    cursor: pointer;
    transform: translateY(-10px);
    background-color: #fb9781;
}

.catchphrase {
    font-size: 1em;
}

.row .upper .right {
    width: 60%;
    padding-top: 5%;
    font-size: 1em;
}

.row .upper .right p {
    font-size: 1.05em;
    margin-bottom: 5%;
    /* color: var(--main-color); */
    color: white;
}

.row .down a {
    font-size: 1.2em;
    color: white;
    margin-right: 2%;
    transition: all .3s ease-in-out;
}

.row .down a:hover {
    color: var(--main-color);
}

.row:nth-child(2) {
    padding: 3% 5%;
}

.row:nth-child(2) .title {
    font-size: 3em;
    margin-bottom: 1%;
}

.row:nth-child(2) p {
    margin-bottom: 3%;
}

.newsletter_bar {
    width: 98%;
    padding: 3% 2%;
    margin-bottom: 3%;
    display: flex;
}

.newsletter_bar input {
    border: none;
    padding: 4% 12%;
    padding-left: 2%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 80%;
}

.newsletter_bar button {
    padding: 4% 3%;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: all .3s ease-in-out;
}

.newsletter_bar button:hover {
    background-color: var(--main-color);

}