@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --main-orange: #fe6c4c;
    --second-orange: #faede8;
    --main-blue: #19202b;
    --main-grey: #969999;
    --second-grey: #d3d8d8;
    --third-grey: #eff0f2;
    --light: #f6f6f9;
    --primary: #1976D2;
    --main: #f3d3c0;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: rgb(54, 57, 73);
    --light-dark: rgba(54, 57, 73, 0.5);
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    --primary-clr: #b38add;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: rgb(198, 196, 196) var(--light);
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
}

.invalid {
    border: 1px solid var(--danger);
}

.bx {
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body {
    overflow-x: hidden;
}



.rotate {
    transform: rotate(180deg);
}

.reverse_rotate {
    transform: rotate(-180deg);
}

.selected {
    color: #ea6f11;
}

.blured {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(225, 225, 225, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(225, 225, 225, 0.18);
}

.show {
    display: block;
}

.none{
    margin-bottom: 10%;
    margin-top: 5%;
    display: none;
    text-align: center;
    color: var(--main-grey);
    font-size: 1em;
}


.bxs-bookmark{
    color: var(--main-blue);
    font-size: .9em;
}



/* =============================DASHBOARD=============== */
.big_container {
    width: 100%;
}


.main_content {
    display: flex;
    width: 100%;
    padding: 3% 2%;

    padding-left: 1%;
}

.banner {
    background-color: var(--main-blue);
    position: relative;
    padding: 2% 5%;
    width: 100%;

}

.banner h3 {
    font-weight: bold;
    font-family: 'Inter';
    font-size: 2.3em;
    width: 70%;
    color: white;
    margin-bottom: 2%;
}

.banner i,
.banner span,
.banner a {
    color: white;
}

.banner .search_bar {
    display: flex;
    position: relative;
    gap: 2em;
    align-items: center;
    width: 50%;
    padding: 1% 2%;
    border: 2px solid white;
    border-radius: 74px;

}

.banner .search_bar input {
    border: none;
    color: white;
    background-color: var(--main-blue);
    font-size: 1em;
   
    width: 80%;
}
.banner .search_bar input::placeholder {
    color: white;
}

.banner .search_bar input:focus {
    outline: none;
}


.banner .search_bar .part {
    display: flex;
    align-items: center;
    gap: 1.2em;
    padding-right: 2%;
    border-right: 2px solid white;

}

.banner .search_bar .part:first-child {
    padding-top: .6%;
    padding-bottom: .6%;
}

.banner .search_bar .part:nth-child(2) i:first-child {
    font-size: 25px;
}


.banner .search_bar .part .ai-chevron-down {
    transition: all .2s ease-in-out;

}

.banner .search_bar .part .ai-chevron-down:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.492);
    border-radius: 50%;
    /* padding: 1% 2%; */
}

.banner .search_bar a {
    position: absolute;
    right: 1.5%;
    background-color: var(--main-orange);
    border-radius: 74px;
    padding: 1% 2%;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.banner .search_bar a:hover {
    background-color: #fc8368;
}

.choice {
    position: absolute;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--main-grey);
    width: 14%;
    height: 87px;
    top: 35%;
    left: 370px;

    opacity: 0;
    height: 0;
    z-index: 2;
}

.choice.experience {
    top: 35%;
    left: 370px;

}

.choice.salary {
    top: 35%;
    left: 605px;
}

.choice li {
    padding: 1% 3%;
    border-bottom: 1px solid var(--main-grey);
    padding-left: 2%;
    font-size: 1.2em;
    color: var(--main-blue);
}

.choice li:hover {
    cursor: pointer;
    background-color: var(--main-blue);
    color: white;
}


.choice li:last-child {
    border: 0;
}


/* ==========Categories========== */
.categories {
    display: flex;
    gap: 2em;
    padding: 1% 2%;
    color: var(--main-grey);
    font-weight: bold;
    border-bottom: 1.5px solid var(--main-grey);
    transition: all .3s ease-in-out;
}

.categories li:hover {
    cursor: pointer;
    color: var(--main-orange);
}


/* =============== MAIN-CONTENT============= */
/* --------------Left */
.main_content .left {
    width: 20%;
    padding: 1% 1%;
    padding-bottom: 0;
    border-right: 1.5px solid var(--main-grey);
    position: relative;
}

.left .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5%;
    border-bottom: 1.5px solid var(--main-grey);
}

.left .head h3 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Inter';
    color: var(--main-blue);
}

.left .head span {
    font-size: 1em;
    color: var(--main-orange);
    font-weight: bold;
}

.left .head span:hover {
    cursor: pointer;
}

.left .feature {
    margin-top: 6%;
}

.left .feature p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 6%;
}


.left .feature .box {
    margin-left: 10%;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    gap: .4em;
}

.left .feature .box .check {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid var(--main-grey);
    display: flex;
    align-items: center;
    padding-right: 5%;
}

.left .feature .box .check i {
    color: white;
    font-size: 1em;
    font-weight: bold;
    z-index: 2;
}


.left .feature .box .check:hover {
    cursor: pointer;
}

.left .feature .box .check.checked {

    background-color: var(--main-orange);
    font-size: 15px;
}

.left .feature .box .check.checked+.left .feature .box span {
    color: var(--main-orange);
    font-weight: bold;
}

.left .apply{
    background-color: var(--main-orange);
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 4% 4%;
    margin-left: 2%;
    margin-bottom: 2%;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 90%;

}


.left .apply:hover{
    border: 1px solid var(--main-orange);
    background-color:white;
    color: var(--main-orange);

}

.left .call_to_action {
    position: absolute;
    bottom: 2%;
    left: 3%;
    height: 150px;
    width: 90%;
    margin-top: 15%;
    border-radius: 15px;
    padding: 1% 3%;
    background-color: var(--main-orange);
}

.left .call_to_action img {
    position: absolute;
    width: 65%;
    height: 100%;
    opacity: .5;
    z-index: 2;
    right: 2%;
}

.left .call_to_action p {
    font-family: 'Inter';
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 12%;
    z-index: 3;
}

.left .call_to_action a {
    position: absolute;
    bottom: 8%;
    right: 4%;
    background-color: white;
    border-radius: 15px;
    padding: 1% 3%;
    z-index: 3;
}

.left .call_to_action a:hover {
    background-color: #edecec;
}

.left .call_to_action a span {
    font-weight: bold;
}

/* --------------Right */
.main_content .right {
    width: 75%;
    padding: 1.5% 1%;
    padding-left: 7%;
    position: relative;
}

.main_content .right .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.main_content .right .head p {
    font-size: 1.1em;
}

.main_content .right .head .sort {
    display: flex;
    align-items: center;
    gap: 1em;
}

.main_content .right .head .sort p,
.main_content .right .head .sort i {
    color: var(--main-grey);
    font-weight: bold;
    font-size: 1.1em;
}

.main_content .right .head .sort span {
    color: var(--main-blue);
    font-weight: bold;
    font-size: 1.1em;
}


.main_content .right .job_bloc {
    margin-bottom: 6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 48px;
    grid-row-gap: 28px;
    
}


/* ----------- Job --------- */
.main_content .right .job_bloc .job {
    position: relative;
    border-radius: 16px;
    padding: 2% 0%;
    padding-top: 0;
    border: 1px solid var(--main-grey);
    height: 220px;
    width: 300px;
    transition: all .3s ease;
}


.main_content .right .job_bloc .job:hover{
    cursor: pointer;
}

.main_content .right .job_bloc .job .top {
    margin-bottom: 7%;
    padding: 0% 3%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid var(--main-grey);
    border-radius: 16px;
    transition: all .3s ease;
}
.main_content .right .job_bloc .job:hover .top{
    cursor: pointer;
    background-color: var(--main-blue);
}


.main_content .right .job_bloc .job .row.first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.main_content .right .job_bloc .job .row.first h3 {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--main-blue);
}

.main_content .right .job_bloc .job:hover .row.first h3 {
    color: white;
}


.main_content .right .job_bloc .job .row.first i {
    padding: 1% 2%;
    border-radius: 50%;
    border: 1px solid var(--main-grey);
}

.main_content .right .job_bloc .job:hover .row.first i {
    border: 1px solid white;
    background-color: white;
}

.main_content .right .job_bloc .job .row.second .match {
    color: var(--main-blue);
}
.main_content .right .job_bloc .job:hover .row.second .match {
    color: var(--second-grey);

}

.main_content .right .job_bloc .job .row.second .job_detail {
    display: flex;
    gap: 1em;
    margin-bottom: 3%;
    margin-top: 6%;
}

.main_content .right .job_bloc .job .row.second .job_detail span {
    padding: 1%;
    border-radius: 5px;
    background-color: var(--third-grey);
    font-weight: bold;
    color: var(--main-blue);
}


.main_content .right .job_bloc .job .row.second .delay {
    color: var(--second-grey);
    margin-right: 2%;
}

.main_content .right .job_bloc .job .row.second .applier {
    color: var(--main-orange);
}

.main_content .right .job_bloc .job .row.second .applier i {
    font-size: .7em;
}

.main_content .right .job_bloc .job .bottom {
    margin-bottom: 7%;
    padding: 0% 3%;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_content .right .job_bloc .job .bottom .salary {
    width: 40%;
}

.main_content .right .job_bloc .job .bottom .salary span:first-child {
    margin-right: 1%;
    color: var(--main-blue);
    font-weight: bold;
}

.main_content .right .job_bloc .job .bottom .salary span:last-child {
   
    color: var(--main-grey);
}
.main_content .right .job_bloc .job .bottom a {
    border-radius: 5px;
    border: 1px solid var(--main-blue);
    padding: 1% 2%;
    color: var(--main-blue);
    transition: all.3s ease-in-out;
}

.main_content .right .job_bloc .job .bottom a:hover {
    background-color: var(--main-blue);
    color: white;
}

/* ---- more */
.main_content .right .more{
    position: absolute;
    bottom: 0;
    left: 45%;

    display: flex;
    gap: 2em;

    align-items: center;
    align-items: center;
    justify-content: center;
}


.main_content .right .more i:first-child{
   border-radius: 8px;
   border: 1px solid var(--main-orange);
   color: var(--main-orange);
   padding: 1% 4%;
}
.main_content .right .more i:first-child:hover{
    cursor: pointer;
 }
 

.main_content .right .more .numbers{
  display: flex;
  align-items: center; 
  gap: 1em;
}
 
.main_content .right .more .numbers .span:first-child{
    color: var(--main-orange);
}
.main_content .right .more .mid{
   display: none;
}

.main_content .right .more a{
    padding: 1% 4%;
    border-radius: 8px;
    border: 1px solid var(--main-orange);
    background-color: var(--main-orange);

    display: flex;
    gap: .5em;
    align-items: center;

    color: white;
}

.main_content .right .more a:hover{
   cursor: pointer;
}


.copyright {
    color: #d6d6d6;
    text-align: center;
    margin-bottom: 2%;

}

