@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-orange: #fe6c4c;
    --second-orange: #faede8;
    --third-orange: #ffe1d5;
    --main-blue: #19202b;
    --light-blue: #e4f4ff;
    --main-grey: #969999;
    --second-grey: #d3d8d8;
    --third-grey: #eff0f2;
    --light: #f6f6f9;
    --primary: #1976D2;
    --main: #f3d3c0;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: rgb(54, 57, 73);
    --light-dark: rgba(54, 57, 73, 0.5);
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    --primary-clr: #ffffff;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;

    scrollbar-width: thin;
    scrollbar-color: rgb(198, 196, 196) var(--light);
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    overflow-x: hidden;

}


.rotate {
    transform: rotate(180deg);
}

.reverse_rotate {
    transform: rotate(-180deg);
}

.blured {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(225, 225, 225, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(225, 225, 225, 0.18);
    z-index: 3;
    height: 100%;
    width: 100%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.veil {
    display: none;
    position: absolute;
    background-color: rgba(82, 82, 82, .5);
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;

}

/* ==================== DASHBOARD =============== */
.topNav {
    position: relative;
    overflow: hidden;
    background-color: var(--main-blue);
}

.topNav .stroke {
    position: absolute;
    top: -25%;
    right: 23%;
    height: 650px;
    width: 52%;
    z-index: 1;
    opacity: .2;
}

.main_content {
    width: 100%;
    padding: 2% 0;
    position: relative;
}

.banner {
    background-color: var(--main-blue);
    width: 100%;
    padding: 2.5% 2%;

}

.banner h3 {
    font-family: 'Prompt';
    font-size: 2.5em;
    color: white;
    font-weight: bold;
}

/* =========================== CHAT ========================== */

.chat_bloc {
    width: 95%;
    height: 700px;
    display: flex;

    margin-left: 2%;
    margin-bottom: 3%;
}

/* ---------left--------- */
.chat_bloc .left {
    width: 30%;
    position: relative;
    /* background-color: red; */

}

.chat_bloc .left .chat_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9% 5%;
    border: 1px solid var(--second-grey);

}

.chat_bloc .left .chat_side .side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_bloc .left .chat_side .side:hover {
    cursor: pointer;
}

.chat_bloc .left .chat_side .side i {
    margin-bottom: 3%;
    font-size: 1.5em;
    color: var(--main-grey);
}

.chat_bloc .left .chat_side .side p {
    font-size: 1em;
    font-weight: bold;
    color: var(--main-grey);
}

.chat_bloc .left .chat_side .side.active i,
.chat_bloc .left .chat_side .side.active p {
    color: var(--main-orange);
}


.calls_logs_preview {
    display: none;
    background-color: #fff;
    z-index: 150;
}

.chat_bloc .left .users_list,
.chat_bloc .left .calls_logs_preview {
    height: 634px;
    border: 1px solid var(--second-grey);
    border-top: 0;
    border-right: 0;
    padding-top: 4%;
    position: absolute;
    width: 100%;
}

.chat_bloc .left .users_list .search_bar,
.chat_bloc .left .calls_logs_preview .search_bar {
    border-radius: 30px;
    padding: 2% 3%;
    background-color: var(--third-grey);
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 3%;
    margin-left: 3%;
}

.chat_bloc .left .users_list .search_bar i:hover,
.chat_bloc .left .calls_logs_preview .search_bar i:hover {
    cursor: pointer;
}


.chat_bloc .left .users_list .search_bar input,
.chat_bloc .left .calls_logs_preview .search_bar input {
    border: none;
    outline: none;
    width: 85%;
    padding: 1% 2%;
    background-color: var(--third-grey);
}

.chat_bloc .left .users_list ul,
.chat_bloc .left .calls_logs_preview ul {
    padding: 2% 3%;
    height: 557px;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
    scrollbar-color: var(--second-grey) white;
}


.chat_bloc .left .users_list ul li,
.chat_bloc .left .calls_logs_preview ul li {
    margin-bottom: 2%;
    display: flex;
    gap: 2%;
    padding: 2% 2%;
    transition: all .3s ease-in-out;
}

.chat_bloc .left .users_list ul li:hover,
.chat_bloc .left .calls_logs_preview ul li:hover {
    border-radius: 10px;
    background-color: var(--third-grey);
    cursor: pointer;

}

.chat_bloc .left .users_list ul li img,
.chat_bloc .left .calls_logs_preview ul li img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.chat_bloc .left .users_list ul li .info,
.chat_bloc .left .calls_logs_preview ul li .info {
    width: 80%;
}

.chat_bloc .left .users_list ul li .info .up,
.chat_bloc .left .calls_logs_preview ul li .info .up {
    margin-bottom: 2%;
}

.chat_bloc .left .users_list ul li .info .up,
.chat_bloc .left .calls_logs_preview ul li .info .up,
.chat_bloc .left .users_list ul li .info .bottom {
    display: flex;
    justify-content: space-between;
}

.chat_bloc .left .calls_logs_preview ul li .info .bottom {
    display: flex;
    align-items: center;
    gap: 2.5%;
}

.users_list ul li .info .up p,
.calls_logs_preview ul li .info .up p {
    color: var(--main-blue);
    font-weight: bold;
    font-size: 1.05em;
}

.users_list ul li .info .up span,
.calls_logs_preview ul li .info .up span,
.users_list ul li .info .bottom span:first-child {
    color: var(--main-grey);
    font-size: .9em;
}

.calls_logs_preview ul li .info .bottom span {
    color: var(--main-grey);
    font-size: .92em;
}

.calls_logs_preview ul li .info .bottom i {
    color: var(--main-grey);
    font-size: 1.1em;
    margin-top: 1.3%;
}

.missed {
    color: var(--danger);
}

.users_list ul li .info .bottom .counter {
    color: white;
    font-size: .7em;
    font-weight: bold;
    border-radius: 50%;
    background-color: var(--main-orange);
    padding: 1% 2%;
}

.users_list ul li .info .bottom .counter.invisible {
    display: none;
}

/* ------------- right---------- */
.chat_bloc .right {
    width: 70%;
    position: relative;
}

.call_log_detail {
    display: none;
    z-index: 50;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--second-grey);
}

.chat_bloc .right .no_content {
    position: absolute;
    text-align: center;
    display: block;
    background-color: white;
    width: 100%;
    height: 100%;
    border: 1px solid var(--second-grey);
    z-index: 40;
}

.chat_bloc .right .no_content p,
.chat_bloc .right .call_log_detail .nothing {
    margin-top: 25%;
    color: #969999
}

.chat_bloc .right .up {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--second-grey);
    border-left: none;
    padding: .72% 2%;

}

.chat_bloc .right .up .info {
    display: flex;
    width: 80%;
    gap: 3%;
}


.chat_bloc .right .up .info img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.chat_bloc .right .up .info .name_status p {
    color: var(--main-blue);
    font-weight: bold;
    font-size: 1.05em;
    margin-bottom: 3%;
}

.chat_bloc .right .up .info .name_status .status {
    display: flex;
    align-items: center;
    gap: 4%;
}

.chat_bloc .right .up .info .name_status .status i {
    color: var(--second-grey);
    font-size: .8em;
}

.chat_bloc .right .up .info .name_status .status i.online {
    color: var(--success);
    font-size: .6em;
}

.chat_bloc .right .up .info .name_status .status span {
    color: var(--main-grey);
}

.chat_bloc .right .up .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
    width: 15%;
}

.chat_bloc .right .up .action i {
    color: var(--main-grey);
    font-size: 1.2em;
    padding: 8% 9%;
    transition: all .3s ease-in-out;
}

.chat_bloc .right .up .action i:first-child.disabled {
    pointer-events: none;
    /* Empêche le clic */
    opacity: 0.5;
}

.chat_bloc .right .up .action i:hover {
    cursor: pointer;
    background-color: var(--third-grey);
    border-radius: 5px;
}


.chat_bloc .right .down {
    position: relative;
    overflow: hidden;
}

.chat_bloc .right .down .message_box {
    position: relative;
    padding: .72% 2%;
    height: 580px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--second-grey) white;
    border: 1px solid var(--second-grey);
    border-top: 0;

    display: flex;
    flex-direction: column;

}


.chat_bloc .right .down .message_box img {
    height: 50px;
    width: 50px;
}


.chat_bloc .right .down .message_box .divider {
    display: flex;
    align-items: center;
    gap: 3%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.chat_bloc .right .down .message_box .divider .line {
    height: 1px;
    width: 40%;
    background-color: var(--second-grey);
}

.chat_bloc .right .down .message_box .divider p {
    font-style: 1.1em;
    color: var(--main-grey);
}


.call_log_detail .call_detail {
    position: absolute;
    height: fit-content;
    z-index: 60;
    border: 1px solid var(--second-grey);
    width: 90%;
    margin: 2% 4%;
}

.call_detail .up {
    padding: 1% 2%;
    border-bottom: 1px solid var(--main-grey);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.call_detail .up .profile {
    display: flex;
    gap: 3%;
    width: 50%;
}

.call_detail .up .profile img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.call_detail .up .profile p {
    font-size: .85em;
    font-weight: bold;
}


.call_detail .up .actions {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
}

.call_detail .up .actions i {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: all .3s ease-in-out;
    color: var(--main-grey);

}

.call_detail .up .actions i:last-child {
    font-size: 21px;
}

.call_detail .up .actions i:hover {
    color: var(--main-blue);
}

.call_detail .down {
    padding: 1% 2%;
}

.call_detail .down p:first-child {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5;
    font-size: 1em;
    margin-bottom: 2%;
    color: var(--main-grey);
}

.call_detail .down .hour_state {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call_detail .down .hour_state i {
    font-size: 1.1em;
    margin-top: .5%;
}

.call_detail .down .hour_state .hour {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 50%;
}

.call_detail .down .hour_state .hour span {
    text-align: center;
}

/* ---============ message UI ====================-- */
.msg_text {
    padding: 1% 2%;
    margin-bottom: 1%;
    width: fit-content;
    max-width: 45%;

}

.incoming {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    /* border-radius: 30px;
    border-bottom-left-radius: 5px; */

    background-color: var(--third-grey);
    /* left:1%; */
    align-self: flex-start;

}

.outgoing {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /* 
    border-radius: 30px;
    border-bottom-right-radius: 5px; */

    background-color: var(--main-orange);
    align-self: flex-end;

}


.msg_text p {
    text-align: center;
    margin-bottom: 3%;
}

.msg_text.incoming p {
    color: var(--main-blue);
}


.msg_text.outgoing p {
    color: white;
}

.msg_text .details {
    display: flex;
    gap: 2%;
    justify-content: right;
}

.msg_text .details i,
.msg_text .details span {
    color: var(--second-grey);
    font-size: .8em;
}




.msg_file,
.msg_contract {
    padding: 1% 1%;
    width: 30%;
    max-width: 45%;
    margin-bottom: 1%;
}

.msg_file .double_layer,
.msg_contract .double_layer {
    padding: 2% 2%;
}

.msg_file .double_layer .up,
.msg_contract .double_layer .up {

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: flex;
    gap: 2%;
    align-items: center;
    margin-bottom: .5%;
}

.msg_contract.accepted.incoming .double_layer {
    padding: 2% 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: flex;
    gap: 2%;
    align-items: center;
    margin-bottom: .5%;

    /* background-color: rgba(239, 240, 242, .7); */
    background-color: rgba(25, 32, 43, .2);
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);

}

.msg_file.incoming .double_layer .up,
.msg_contract.incoming .double_layer .up {
    /* background-color: rgba(239, 240, 242, .7); */
    background-color: rgba(25, 32, 43, .2);
    backdrop-filter: blur(10px);

}

.msg_file.outgoing .double_layer .up {
    background-color: rgba(239, 240, 242, .6);
    backdrop-filter: blur(10px);

}



.msg_file .double_layer .up .file_info,
.msg_contract .double_layer .up .file_info {
    width: 80%;
}

.msg_file .double_layer .up .file_info p {
    color: var(--main-blue);
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 1em;
}

.msg_contract .double_layer .up .file_info p,
.msg_contract.accepted.incoming .double_layer .file_info p {
    color: var(--main-blue);
    font-weight: bold;
    margin-bottom: 2%;
    font-size: .9em;
}

.msg_file .double_layer .up .file_info span,
.msg_contract .double_layer .up .file_info span {
    color: var(--main-grey);
    font-size: .8em;
}

.msg_contract.accepted .double_layer .file_info span {
    color: var(--success);
    font-weight: bold;
    font-size: .8em;
}

.msg_file .double_layer .action,
.msg_contract .double_layer .action {
    display: flex;
    gap: 4%;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(239, 240, 242, .6);
    backdrop-filter: blur(10px);

    justify-content: center;
    padding: 4% 2%;
}

.msg_file.incoming .double_layer .action,
.msg_contract.incoming .double_layer .action {
    background-color: rgba(25, 32, 43, .2);
    backdrop-filter: blur(10px);
}

.msg_file.outgoing .double_layer .action {
    background-color: rgba(239, 240, 242, .6);
    backdrop-filter: blur(10px);
}



.msg_file .double_layer .action button,
.msg_contract .double_layer .action button {
    border: none;
    border-radius: 5px;
    padding: 4% 5%;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.msg_file.outgoing .double_layer .action button {
    color: white;
    /* background-color: rgba(239, 240, 242, .7); */
    background-color: rgba(239, 240, 242, .4);
}

.msg_file.incoming .double_layer .action button,
.msg_contract.incoming .double_layer .action button {
    color: white;
    /* background-color: rgba(239, 240, 242, .7); */
    background-color: rgba(239, 240, 242, .4);
}



.msg_file .double_layer .action button:hover,
.msg_contract .double_layer .action button:hover {
    cursor: pointer;
}

.msg_file.outgoing .double_layer .action button:hover {
    background-color: rgba(239, 240, 242, .3);
}

.msg_file.incoming .double_layer .action button:hover,
.msg_contract.incoming .double_layer .action button:hover {
    background-color: rgba(239, 240, 242, .2);
}



.msg_file .down p {
    margin-left: 2%;
    margin-bottom: 1%;

}

.msg_file.outgoing .down p {
    color: white;
}

.msg_file .details,
.msg_contract .details {
    display: flex;
    gap: 2%;
    justify-content: right;
}

.msg_file.incoming .details i,
.msg_file.incoming .details span,
.msg_contract.incoming .details i,
.msg_contract.incoming .details span {
    color: var(--main-grey);
    font-size: .8em;
}

.msg_file.outgoing .details i,
.msg_file.outgoing .details span {
    color: var(--third-grey);
    font-size: .8em;
}

/* send */

.chat_bloc .right .down .send {
    padding: .72% 2%;
    height: 54.2px;
    border: 1px solid var(--second-grey);
    border-top: 0;
    display: flex;
    align-items: center;
    gap: 2%;
}

.chat_bloc .right .down .send i {
    font-size: 1.4em;
    padding: 1% 2%;
    transition: all.3s ease-in-out;
}

.chat_bloc .right .down .send i:hover {
    border-radius: 7px;
    background-color: var(--third-grey);
}

.chat_bloc .right .down .send textarea {
    width: 90%;
    height: 40px;
    padding: 1% 2%;
    outline: none;
    resize: none;
    font-size: 1em;
    scrollbar-width: 0;
    margin-right: 2%;
    border: 0;
}

.chat_bloc .right .down .send textarea::-webkit-scrollbar {
    width: 0;
}


/* =========== POPUP =========== */

/* goDown popup */
.chat_bloc .right .down .message_box .goDown {
    /* opacity: 0; */
    display: block;
    position: sticky;
    width: fit-content;
    bottom: 1%;
    margin-left: 94%;
    padding: 1% 2%;
    color: white;
    font-weight: bold;
    background-color: var(--main-blue);
    border-radius: 7px;
    border: none;
    z-index: 2;
    transition: all .3s ease-in-out;

}

.chat_bloc .right .down .message_box .goDown:hover {
    cursor: pointer;
    background-color: #2b2d30;
}


/*----------------------- file_popup */
.file_popup {
    display: none;
}

.file_popup_container {
    padding: 1% 2%;
    border-radius: 7px;
    height: 40%;
    width: 40%;

    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1%;
    left: 1%;

    background-color: var(--main-blue);
    z-index: 2;
}

.file_popup_container img {
    height: 50px;
    width: 50px;
}

.file_popup_container .preview {
    height: 70%;
    padding: 8% 2%;
    border: 1px solid var(--second-grey);
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;

}

.file_popup_container .preview p {
    font-size: 1em;
    color: var(--second-grey);
}

.file_popup_container .options {
    height: 30%;
    display: flex;
    align-items: center;
    gap: 2%;
}

.file_popup_container .options textarea {
    width: 90%;
    height: 30px;
    padding: 1% 2%;
    outline: none;
    resize: none;
    font-size: 1em;
    scrollbar-width: 0;
    margin-right: 2%;
    border: 0;
    background-color: var(--main-blue);
    color: white;
}

.file_popup_container .options i {
    font-size: 1.4em;
    padding: 1% 2%;
    transition: all.3s ease-in-out;
    color: white;
}

.file_popup_container .options i:hover {
    border-radius: 7px;
    background-color: var(--third-grey);
    color: var(--main-blue);
}


/* --------------- quit file popup */
.quit_file_popup {
    display: none;
}

.quit_file_popup_container {

    border-radius: 7px;
    height: 20%;
    width: 30%;

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 48%;

    background-color: white;
    z-index: 3;
}

.quit_file_popup_container .info {
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 3% 5%;
    height: 70%;
    background-color: var(--third-grey);
}

.quit_file_popup_container .info h3 {
    font-weight: bold;
    font-family: 'Prompt';
    font-size: 1.5em;
    margin-bottom: 2%;
}

.quit_file_popup_container .info p {
    font-size: 1em;
}

.quit_file_popup_container .options {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    background-color: var(--second-grey);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}

.quit_file_popup_container .options button {
    padding: 2% 2%;
    border-radius: 5px;
    border: none;
    width: 40%;
    background-color: var(--third-grey);
    transition: all .3s ease-in-out;
}

.quit_file_popup_container .options button:hover {
    background-color: #f4f5f7;
}

.quit_file_popup_container .options button:first-child {
    background-color: var(--main-blue);
    color: white;
}

.quit_file_popup_container .options button:first-child:hover {
    background-color: #27272c;
    color: white;
}



/* --------------- search */
.search_message_popup {
    display: none;
}

.search_message_popup_container {

    z-index: 2;
    position: sticky;
    top: 1%;

    margin-left: 50%;
    display: flex;
    align-items: center;
    gap: 3%;

    width: 50%;
    height: 8%;

    background-color: var(--main-blue);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    padding: 3% 2%;
}

.search_message_popup_container .input_container {
    border-right: 1px solid var(--second-grey);
    width: 70%;
}

.search_message_popup_container .input_field {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(10px);

    padding: 2% 2%;
    margin-right: 1%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search_message_popup_container .input_field input {
    display: flex;
    gap: 2%;
    width: 70%;
    background-color: transparent;


    color: white;
    padding: 1% 2%;
    border: none;
    outline: none;
}

.search_message_popup_container .input_field input::placeholder {
    color: white;
}


.search_message_popup_container .input_field .found {
    display: flex;
    align-items: center;
    gap: 1%;
    width: 30%;
    color: var(--second-grey);
    padding: 1% 2%;
}

.search_message_popup_container .options {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search_message_popup_container i {
    padding: 10% 12%;
    color: white;
    font-size: .8em;
    transition: all .3s ease-in-out;
}

.search_message_popup_container i:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 5px;
}

/* ================= create_offer_popup */
.create_offer_popup {

    display: none;
    z-index: 4;
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 600px;

    border-radius: 3%;
    border: 1px solid var(--main-grey);
    background-color: white;

    font-family: 'Prompt';
    font-weight: 400;
    font-size: 1.5em;

}


/* ----- up ------ */

.create_offer_popup .up {
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-grey);
    margin-bottom: 3%;
}

.create_offer_popup .up .left {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 5%;
}

.create_offer_popup .up .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

.create_offer_popup .up .right i:first-child {
    color: var(--main-grey);
    pointer-events: none;

}

.create_offer_popup .up .left p {
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 1.08em;
    color: var(--main-blue);
}

.create_offer_popup .up .left span {
    font-size: .85em;
    font-family: 'Prompt';
    font-weight: bold;
    color: var(--main-blue);
}

.create_offer_popup .up .right i {
    font-size: .8em;
    font-weight: bold;
    color: var(--main-blue);
    padding: 2% 6%;
    transition: all.3s ease-in-out;
}


.create_offer_popup .up .right i:hover {
    background-color: var(--third-grey);
    border-radius: 50%;
}


/* ----- down ------ */
.create_offer_popup .down {
    height: 80%;
    padding: 1% 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: var(--main-grey) white;
    scroll-behavior: smooth;

}

.create_offer_popup .down .slide {
    display: none;
    padding: 1% 5%;
    animation: moving .5s ease;
}

@keyframes moving {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    from {
        transform: translateX(100%);
        opacity: 1;
    }
}

.create_offer_popup .down .slide.active {
    display: block;
}

.slide ul {
    display: none;
}

.slide .title {
    font-family: 'Inter';
    font-family: 'Prompt';
    font-weight: 600;
    font-size: .9em;
    color: var(--main-blue);
    margin-bottom: 4%;
}

.slide .content {
    font-size: .7em;
}

.slide .content .choice {
    display: flex;
    gap: 2%;
    margin-bottom: 2%;
}

.slide .content .choice input[type="checkbox"] {
    align-self: flex-start;
    margin-top: 1%;

}

.slide .little_content {
    padding-top: 0;
}

.slide input[type="text"] {
    padding: 1% 2%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--main-blue);

    font-size: .8em;
}

.slide .input_field {
    width: 60%;
    display: flex;
    gap: 2%;

    border: 1px solid var(--main-grey);
    border-radius: 5px;

    padding: .7% 2%;
    margin-bottom: 3%;

}

.slide .input_field input {
    width: 90%;
    font-size: .8em;
    outline: none;
    border: none;
}

.slide .input_field i {
    padding: auto;
    cursor: pointer;
    font-size: 1em;
    transition: all .3s ease-in-out;
    padding: 1% 2%;
}

.slide .input_field i:hover {
    border-radius: 50%;
    background-color: var(--third-grey);
}

.slide ul {
    width: 60%;
    background-color: white;
    /* box-shadow:  1px 1px 30px .5px var(--main-grey); */
    border: 1px solid var(--main-blue);
    border-radius: 5px;
    padding: 1% 0;
}

.slide ul li {
    padding: 2% 2%;
    margin-bottom: 2%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: var(--main-blue);

    font-size: .8em;
}

.slide ul li:hover {
    background-color: var(--third-grey);
}

.slide:last-child .container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    font-size: .8em;
}

.slide:last-child .container .left,
.slide:last-child .container .right {
    display: flex;
    flex-direction: column;
    gap: 6%;

}

.slide:last-child .container p {
    font-family: 'Inter';
    font-family: 'Prompt';
    font-weight: 600;
    font-size: .9em;
    color: var(--main-blue);
    margin-bottom: 4%;
}

.slide:last-child button {
    border: none;
    border-radius: 5px;

    margin-top: 15%;
    margin-left: 80%;
    padding: 2% 3%;

    background-color: var(--main-blue);
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: all .3s ease-in-out;
}

.slide:last-child button:hover {

    color: var(--main-blue);
    background-color: #fff;
    border: 1px solid var(--main-blue);
}



/* ====== Preview_full_offer ======= */

.preview_full_offer {
    display: none;
    z-index: 4;
    position: absolute;
    top: 3%;
    left: 25%;
    width: 50%;
    height: 700px;

    border-radius: 3%;
    border: 1px solid var(--main-grey);
    background-color: white;


    padding: 1% 0%;
    padding-bottom: 0%;

    overflow: hidden;
}

.preview_full_offer .scrollable {
    height: 90%;
    padding: 2% 4%;
    overflow-y: scroll;
    scrollbar-color: var(--main-grey) white;
    scroll-behavior: smooth;

}

.preview_full_offer .bottom {

    height: 10%;
    width: 100%;
    padding: 1.5% 5%;

    display: flex;
    justify-content: right;

    border-top: 1px solid var(--main-grey);
    /* background-color: red; */
}


.preview_full_offer .scrollable .top {
    display: flex;
    flex-direction: column;
    gap: 4%;
    align-items: center;
    margin-bottom: 4%;
}

.preview_full_offer .scrollable .top img {
    height: 40px;
    width: 40px;
    margin-bottom: 2%;
}

.preview_full_offer .scrollable .top span {
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 1.2em;
}

.preview_full_offer .scrollable .section {
    margin-bottom: 3%;
}


.preview_full_offer .section .title {
    font-family: 'Inter';
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 1.1em;
    color: var(--main-blue);
    margin-bottom: 1%;
}

.preview_full_offer .section .content {
    font-size: 1em;
}


.preview_full_offer .section .container {
    display: flex;
    justify-content: space-between;

}

.preview_full_offer .section .container .left,
.preview_full_offer .section .container .right {
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.preview_full_offer .section .container .left p,
.preview_full_offer .section .container .right p {
    font-weight: bold;
}

.preview_full_offer .bottom button {
    border: none;
    border-radius: 5px;

    margin-left: 10%;
    padding: 2% 2%;

    background-color: var(--main-blue);
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: all .3s ease-in-out;
}

.preview_full_offer .bottom button:hover {

    color: var(--main-blue);
    background-color: #fff;
    border: 1px solid var(--main-blue);
}



/* ======== lobby-box ======== */
.lobby_box {
    /* left: 20%; */
    position: absolute;
    top: 1%;
    left: 35%;
    justify-content: center;
    border: 1px solid var(--main-grey);
    border-radius: 6px;
    box-shadow: 0px 0px 5px 1px var(--main-grey);
    padding: 0% 1.3%;
    margin: 2% auto;
    width: 35%;
    z-index: 200;
    background-color: #fff;
    /* background-color: var(--main-blue); */

}

.lobby_box .text {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    gap: 5.2em;
    align-items: center;
}

.lobby_box .text p {
    font-size: .95em;
}

.lobby_box .text .logo {
    display: flex;
    align-items: center;
}

.lobby_box .text img {
    height: 27px;
    width: 48%;
}


.lobby_box .video_box {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--main-grey);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    gap: 5%;
    height: 35em;

    padding-top: 5%;
    margin-bottom: 1%;
}

.lobby_box #video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
}

.lobby_box .video_box p {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    z-index: 2;
}

.lobby_box .video_box img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.lobby_box .actions {
    display: flex;
    align-items: center;
    gap: 2%;

    margin: 1% auto;
    justify-content: center;

}

.lobby_box .actions button {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 1%;
    display: flex;

    justify-content: center;
    gap: 1.5%;
    width: 15%;
    font-size: 1em;
}

.lobby_box button i {
    font-size: 1.7em;
    color: white;
}

.lobby_box button:nth-child(1) {
    background-color: var(--success);
    transition: all .3s ease-in-out;
}

.lobby_box button:nth-child(1):hover {
    background-color: #56a75a;
}

.lobby_box button:nth-child(2) {
    background-color: var(--danger);
    transition: all .3s ease-in-out;
}

.lobby_box button:nth-child(2):hover {
    background-color: #d65858;
}